<div class="container-fluid">
    
    <div class="row" id="body">

        <div class="col-12">
            <div class="row" id="nav-bar">
                <nav class="navbar navbar-expand-lg navbar-red bg-red">
                    <div class="container-fluid">
                      
                      
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <img src="../../assets/logo.avif" alt="" style="height: 60px; width: 60px; border-radius: 15rem;">
                      </div>
                    </div>
                  </nav>
            </div>
            <div class="row">
                <div class="col-6">

                    <div class="card" id="card">
                        <h1 style="text-align: center; margin-top: 20px;"> <u> CONNEXION </u> </h1>
                        <hr style="margin-top: 20px; margin-bottom: 50px;">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Username</span>
                            <input type="text" class="form-control" placeholder="" aria-label="Username">
                        </div>
                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text " id="basic-addon1">Password</span>
                            <input type="password" class="form-control " placeholder="" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3 mt-3 ml-3"
                            style="display: flex; align-items: center; justify-content: center;">
                            <a class="btn btn-primary" role="button" [routerLink]="'/user/'">Connexion</a>
                        </div>


                    </div>
                </div>
                <div class="col-6 bg-red">
                    <img src="../../assets/famille-africaine-à-faire-des-courses-dans-les-légumes-commerçante-de-supermarché-l-épicerie-magasins-en-et-fruits-debout-201559305.jpg"
                        alt="">
                </div>
            </div>
        </div>
    </div>
</div>