
        <div class="modal-body">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Libelle</label>
                  <input type="text" [ngModel]="labelle" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <label for="exampleInputEmail1" class="form-label">prix</label>
                  <input type="text" [ngModel]="prix" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">  
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>