<div class="row">
    <div class="col-12">

        <!-- **************** DEBUT Menu principal  ************************-->

        <div class="row">
            
            <div class="col-12" style="height: 80px; background-color: rgb(225, 97, 97);">
                <nav class="navbar navbar-expand-lg navbar-red bg-red">
                    <div class="container-fluid">
                      
                      
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <img src="../../assets/logo.avif" alt="" style="height: 60px; width: 60px; border-radius: 15rem;">
                      </div>
                    </div>
                  </nav>
            </div>

        </div>

        <!-- **************** FIN Menu principal  ************************-->

        <!-- **************** CORPS DE PAGE  ************************-->

              <!-- ***** DEBUT Menu DE Droite  ******-->
        <div class="row">
            <div class="col-3" style="background-color: rgb(209, 204, 204); height: 700px;">

                <div class="container-fluid">
                    <div class="row">
                      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-red sidebar collapse">
                        <div class="position-sticky pt-3">
                          <ul class="nav flex-column" style="margin-top: 10px;">
                            <div class="card card_i" style="width: 350px; margin-top: 20px; background-color: rgb(225, 97, 97);">
                                <div class="card-body">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" routerLink="/admin1">
                                          <span data-feather="home"></span>
                                          <i class="fa fa-home"></i>
                                          <b> Dashboard </b>  
                                        </a>
                                      </li>
                                </div>
                            </div>
                            <div class="card card_i" style="width: 350px; margin-top: 20px;">
                                <div class="card-body">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" routerLink="/produits">
                                          <span data-feather="home"></span>
                                          <i class="fa fa-product-hunt"></i>
                                          <b> Produits </b>  
                                        </a>
                                      </li>
                                </div>
                            </div>
                            <div class="card card_i"
                                            style="width: 350px; margin-top: 20px; ">
                                            <div class="card-body">
                                                <li class="nav-item">
                                                    <a class="nav-link active" aria-current="page"
                                                        routerLink="/ventes">
                                                        <span data-feather="home"></span>
                                                        <i class="fa fa-product-hunt"></i>
                                                        <b> Venetes </b>
                                                    </a>
                                                </li>
                                            </div>
                                        </div>
                            
                            <div class="card card_i" style="width: 350px; margin-top: 20px;">
                                <div class="card-body">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" routerLink="/factures">
                                          <span data-feather="home"></span>
                                          <i class="fa fa-file"></i>
                                          <b> Factures </b> 
                                        </a>
                                      </li>
                                </div>
                            </div>
                            <div class="card card_i" style="width: 350px; margin-top: 20px;">
                                <div class="card-body">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" routerLink="/fournisseur">
                                          <span data-feather="home"></span>
                                          <i class="fa fa-truck"></i>
                                          <b> Fournisseurs </b>   
                                        </a>
                                      </li>
                                </div>
                            </div>
                            <div class="card card_i" style="width: 350px; margin-top: 20px;">
                                <div class="card-body">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" routerLink="/clients">
                                          <span data-feather="home"></span>
                                          <i class="fa fa-users"></i>
                                          <b> Clients </b> 
                                        </a>
                                      </li>
                                </div>
                            </div>
                            <div class="card card_i" style="width: 350px; margin-top: 20px;">
                                <div class="card-body">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page" routerLink="/user">
                                          <span data-feather="home"></span>
                                          <i class="fa fa-user"></i>
                                          <b> Utilisateur </b> 
                                        </a>
                                      </li>
                                </div>
                            </div>
                            
                            
                          </ul>
                  
                        </div>
                      </nav>
                  
                      
                    </div>
                  </div>

            </div>
            
            <!-- ***** FIN Menu DE Droite  ******-->

            <!-- ***** DEBUT DASHBOARD  ******-->
            <div class="col-8">
                
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2"> <b> DASHBOARD </b> </h1>
                    
                  </div>
                
            </div>

        </div>
    </div>
</div>